<ion-header>

  <ion-navbar>
    <ion-title>Species ID</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="form">
  <p padding-left=8px>Please review the patient's species ID.</p>
  <ion-item>
      <ion-label>Case ID - </ion-label>
      <ion-input type="text" formControlName="id" [(ngModel)]="caseID" readonly>{{caseID}}</ion-input>
  </ion-item>

  <h1 style='text-align: center'>Specimen</h1>
  <ion-list>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-label stacked>What happen to specimen</ion-label>
            <ion-input type="text" [(ngModel)]="speciesSpecimen" formControlName="specimen" readonly></ion-input>
          </ion-item>
    </ion-card>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-label stacked>Specimen available</ion-label>
            <ion-input type="text" [(ngModel)]="speciesAvailable" formControlName="available" readonly></ion-input>
          </ion-item>
    </ion-card>
    </ion-col>
    </ion-row>
  </ion-list>
  <hr>
  <p padding-left=8px>Type of Snakes</p>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let snake of optionsSnakes">
        <img src = {{snake.pic}} alt="" style="width: 180px; height: 100px;">
        <ion-item>
        <ion-label style="text-align: center; font-size: 10px">{{snake.name}}</ion-label>
        <!-- <ion-checkbox color="dark" (click)="selectMember(snake)" [(ngModel)]="snake.checked" formControlName="snake"></ion-checkbox> -->
      </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- <ion-item hidden>
    <ion-label padding-left=8px>Options Selected:</ion-label>
    <ion-label padding-left=8px text-wrap >{{selectValue}}</ion-label>
    </ion-item> -->

    <ion-item *ngIf="isEdited" >
      <ion-label padding-left=8px>Snakes Selected:</ion-label>
      <ion-label padding-left=8px text-wrap >{{selectValue01}}</ion-label>
  </ion-item>

  <hr>

  <h1 style='text-align: center'>Morphology</h1>
  <p padding-left=8px>Snakes Chracteristics</p>
  <ion-card>
          <ion-item>
                  <ion-textarea placeholder="Enter a description" [(ngModel)]="speciesChracteristics" formControlName="chracteristics" readonly></ion-textarea>
                </ion-item>
  </ion-card>

  <hr>

  <h1 style='text-align: center'>Photo</h1>
  <p padding-left=8px>Specimens Picture Uploaded</p>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="block">
          <img *ngIf="isEdited"  [src]="speciesSnakeImage" style="width: 100%" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</form>
<!-- <button ion-button round style="width: 100%" (click)='upload()'>Take Picture</button> -->
</ion-content>

<ion-footer>
    <ion-toolbar position="bottom">
        <button ion-button round style="width: 100%">Create Species</button>
      </ion-toolbar>
</ion-footer>
