<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Case Consultation</ion-title>
  </ion-navbar>

  <ion-item>
      <ion-label>Welcome: {{(profileData | async)?.username}}</ion-label>
      
  </ion-item>

</ion-header>

<ion-content>
     
    <ion-item>
          <ion-searchbar animated></ion-searchbar>
          <button ion-button icon-only item-end clear (click)="presentActionSheet()">
                  <ion-icon name="more"></ion-icon>
          </button>
    </ion-item>
  
  <ion-item>
          <ion-label><b>Press on the triple dot to activate Edit Buttons</b></ion-label>
  </ion-item>
  
  
    <ion-list>
            <ion-item-sliding *ngFor="let item of items">
              <ion-item>
                <ion-thumbnail item-start>
                    <img src="../../../assets/imgs/green.png">
                </ion-thumbnail>
                <h2>Case Number: {{item.caseID}}</h2>
                <button ion-button color="secondary" icon-left item-right (click)="addManagement({ record: item })">
                        <ion-icon name='arrow-forward'></ion-icon>
                        Add Management Case
                    </button>
              </ion-item>

              <ion-item-options side="right">
                <button *ngIf="ButtonPatient"  ion-button color="secondary" (click)="editPatient({ record: item })">
                Patient

                </button>
                <button *ngIf="ButtonEvent"  ion-button color="primary" (click)="editEvent({ record: item })">
                Event
                </button>

                <button *ngIf="ButtonHistory"  ion-button color="danger" (click)="editHistory({ record: item })">
                History
                </button>
                      
                     <button *ngIf="ButtonSpecies"  ion-button color="primary" (click)="editSpecies({ record: item })">
                           
                                    Species
                             </button>
                    <button *ngIf="ButtonClinical"  ion-button color="secondary" (click)="editClinical({ record: item })">
                       
                                Clinical
                         </button>

                        </ion-item-options>
            </ion-item-sliding>

        </ion-list>

        <ion-fab bottom right>
          <button ion-fab class="pop-in" color="dark" (click)="openAddCaseListPage()" >
              <ion-icon name='paw' is-active="false" ></ion-icon>
          </button>
          
      </ion-fab>

</ion-content>